.csv-file-chooser-section {
    padding: 10px;
    margin: 5%;
    border: 2px solid;
    text-align: center;
    border-color: blue;
  }
  
  .csv-result-table {
    margin: 5%;
    border: 2px solid palevioletred;
  
  }
  
  table, th, td {
    border: 1px solid black;
  }